
 li {
 	text-decoration-style: none;
 }
 ul {list-style: none;
 }
 a {
 	text-decoration: none;
 	color: #3D58A6;
 	font-size:22px;
 }
span {
	color: #EE4036;
}
span img {
	width: 1170px;
}
h3 {
	font-style: bpgninomtavruli;
}